@import '~antd/es/style/themes/default.less';

.card {
  margin-bottom: 12px;
}

.banner {
  width: 100%;
}

.user {
  font-size: 20px;
  font-family: PingFangSC, PingFangSC-Semibold;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  line-height: 24px;
  margin: 17px 0;
}
.accountInfo {
  display: flex;
  align-items: center;
  .chart {
    height: 100px;
    width: 120px;
    margin-right: 60px;
  }
  .balances {
    flex: 1;
    display: flex;

    .vertical {
      margin-right: 68px;
      :global {
        .ant-statistic-title {
          &::before {
            display: inline-block;
            content: '';
            width: 4px;
            height: 4px;
            margin-right: 6px;
            transform: translateY(-50%);
            background: rgba(49, 127, 255, 1);
          }
        }
        .ant-statistic-content {
        }
      }
    }

    .horizon {
      :global {
        .ant-statistic-title {
          display: inline-block;
          &::before {
            display: inline-block;
            content: '';
            width: 4px;
            height: 4px;
            margin-right: 6px;
            transform: translateY(-50%);
            background: #dce8fc;
          }
        }
        .ant-statistic-content {
          display: inline-block;
          font-size: 18px;
        }
      }
    }
  }

  .rightButtons {
    text-align: right;
  }
}

.item {
  margin: 15px 0;
}

.icon {
  width: 24px;
  height: 24px;
}

.link {
  font-size: 14px;
  font-family: PingFangSC, PingFangSC-Medium;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22px;
  margin-left: 12px;
}

.qrcode {
  width: 100%;
}
