@import '~antd/es/style/themes/default.less';

:global {
  .ant-layout-header {
    background: #6190e8 !important;
  }
}

.platform {
  color: white;
}

.logo {
  width: 32px;
  display: inline-block;
  img {
    margin-top: 8px;
  }
}

.title {
  color: #17334d !important;
  opacity: 0.85;
  font-size: 16px;
  font-family: PingFangSC, PingFangSC-Medium;
  font-weight: 500;
  color: #000000;
  line-height: 24px;
}
